
.container{
    margin: 40px auto;
    width: 400px;
    height: 100%;
}
.hidden{
    display: none;
}
.listBlock {
    list-style: none;
    counter-reset: list;
    margin: 0;
    padding: 0;
}
.listBlock>li {
    position: relative;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-left: 2rem;
    margin-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: rgb(78, 73, 73);
    background: #f7ba7e;
}
.listBlock>li:last-child {
    margin-bottom: 0;
    }
.listBlock>li::before {
    content: counter(list);
    counter-increment: list;
    position: absolute;
    left: -2rem;
    top: 0;
    bottom: 0;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    color: rgb(78, 73, 73);
    background: rgba(214, 214, 214, 0.75);
}