body{
    width: 100%;
    font-family: sans-serif;
}
.inputPage, .appChat{
    margin: 30px auto;
    width: 600px;
}
.hidden{
    display: none;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 500px;
}
.sidebar{
    background: rgb(51, 111, 146);
    width: 200px;
    height: 100%;
    padding: 30px 20px 30px 20px;
    box-sizing: border-box;
    text-align: center;
    color:rgb(247, 247, 247);
    font-size: 20px;
   
}

.userslist {
    margin: 20px auto;
    width: 150px;
    height: 300px;
    background: rgb(70, 143, 185);
    
}
.chatsection{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
        background: rgba(118, 215, 245, 0.753);
    
}
.chatmessages{
    height: 500px;
    width: 100%;
}
.writesection{
    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
textarea{
    width: 82%;
    height: 70px;
    resize: none; 
}
img{
    width: 50px;
    height: 50px;
}


